{{define "title"}} Home {{end}}

{{define "main"}}
<div class="container">
    <h1 class="display-1">
        Simple URL Shortner
    </h1>
    <form action="/shorten" method="post">
        <div class="mb-3">
            <label for="url" class="form-label">URL</label>
            <input type="url" name="url" class="form-control" id="url" placeholder="https://www.example.com/">
        </div>
        <input type="submit" class="btn btn-primary" value="Shorten">
    </form>

    <h3>Your urls</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Short Url</th>
                <th scope="col">Long Url</th>
                <th scope="col">Visit Count</th>
            </tr>
        </thead>
        <tbody>
            {{ range $elem := . }}
            <tr>
                <td>
                    <a href="/s/{{$elem.Url}}" target="_blank">{{$elem.Url}}</a>
                </td>
                <td>
                    <a href="{{$elem.LongUrl}}" target="_blank">{{$elem.LongUrl}}</a>
                </td>
                <td>{{$elem.VisitCount}}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
</div>
{{end}}